@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.img__back {
    width: 100%;
    height: 100vh;
    color: white;
    position: fixed;
    background-image: url('../images/web_img_1.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    overflow: auto;
}

.content__ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
}
.content__ h1 { text-align: center; font-size: 5rem; font-weight: 700; }

.content__info_header{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
}

.content__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content__buttons__whatsapp,
.content__buttons__download_pdf {
    /* width: 30%; */
    min-height: 3rem;
    border-radius: 8px;
    border: hidden;
    color: white;
    background-color: #ba7600;
}
.content__buttons__whatsapp:hover,
.content__buttons__download_pdf:hover {
    box-shadow: 0px 0px 7px 2px #e7b646;
}

.content__buttons__whatsapp:hover { color: white; }

/* Contenido general del menu */
.content__menu_content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.content__menu_content__options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.content__options__card {
    width: 20rem;
    max-height: 20rem;
    margin-bottom: 2rem;
    /* background-color: rgb(255 255 255 / 30%); */
    background-color: white;
    position: relative;
    padding: 1rem;
    box-shadow: 0px 0px 1px 2px gray;
    border-radius: 10px;
}
.options__card__image { width: 100%; }
.options__card__name {
    position: absolute;
    bottom: 1rem;
    background-color: aqua;
}



@media screen and (max-width: 768px) {
    .content__ { padding: 3rem 2rem; }
    .content__ h1 {  font-size: 3.5rem; }
    .content__info_header { padding: 0; font-size: 1.3rem; }
}

